*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

/* couleurs prédéfinies dès que le fichier style.css est appelé */
:root {
    /* arriere-plan mode sombre */
    --bg-black: #0F0F0F;
    /* arriere-plan de base */
    --bg-white: #FAFAFA;
    /* arriere-plan beige */
    --bg-beige: #D39E72;
    /* arriere-plan beige foncé */
    --bg-beige-deep: #A07959;
    /* textes */
    --black-text: #1F1F1F;
    --white-text: #F2F2F2;
}

/* design pour MAC OS X 1440 / 683 */

/* eviter la redondance pour display : flex */
header,
.click-btn ul,
.title-main-home,
.title-second-home,
.present-article,
.news-container,
.size-img-home-article,
.content-split,
.content-article,
#content-footer,
#info-footer,
#click-menu-footer,
footer,
#cookie-law p,
.school-article,
/* classes contact.css */
.formulaire,
form,
label,
aside,
aside div,
/* classes legal.css */
.legal-case,
/* classes front.css */
.cart,
.display-extract,
.container-joke {
    display: flex;
}

header,
footer,
/* contenu concernant des informations sur moi */
.news-container {
    width: 100vw;
}

/* couleur de la typographie qui n'est pas sur fond clair */
body,
header,
.click-btn a,
.title-main-home,
.title-second-home,
.title-aside,
.news-container,
.body a,
.school-address a,
.content-split,
.design-ext-link:hover,
aside a:hover,
#content-footer a:hover,
#cookie-law p {
    color: var(--black-text);
}

body,
header,
#cookie-law {
    background-color: var(--bg-white);
}


header a:hover,
.design-ext-link,
#dwnld-btn a,
aside a,
/* lien avec front.css */
.cart a {
    color: var(--bg-beige-deep);
}

#logo-footer,
#click-menu-footer a,
#info-footer,
#info-footer a,
.numero-tel,
footer {
    color: var(--white-text);
}

header,
.click-btn ul,
.present-article,
.news-container,
.school-article,
#cookie-law {
    flex-direction: row;
}

/* reglage de l'en-tête */
header {
    height: 12vh;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    transition: .2s;
    justify-content: space-between;
    padding: 2%;
    box-shadow: 0 4px 4px -2px var(--bg-beige-deep);
}

.title-main-home,
.content-split,
footer,
/* lien legal.css */
.legal-case,
/* lien front.css */
.cart-container {
    background: linear-gradient(to left, var(--bg-beige-deep), var(--bg-beige));
}

.content-article,
footer,
#click-menu-footer,
#info-footer,
/* liens avec front.css */
.cart,
.container-joke {
    flex-direction: column;
}

#logo,
#logo-footer {
    width: 70px;
}

/* definition d'une ombre autour des cadres principaux */
.size-img-home-article,
form,
aside,
/* lien avec front.css */
.cart {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 3px 3px 3px rgb(0 0 0 / 10%),
        -3px -3px 3px rgb(0 0 0 / 10%);
}

/* effacement visuel du btn-burger utilisé dans le cas de la version mobile */
.click-btn-burger,
.menu-burger-nav {
    display: none;
}

.click-btn {
    width: 24vw;
    font-size: 1em;
}

.click-btn ul {
    justify-content: space-evenly;
}

#dwnld-btn,
.click-btn a:hover,
/* lien avec front.css */
.cart a {
    text-decoration: underline;
    text-underline-offset: .6em;
}

ul {
    list-style: none;
}

#logo {
    margin-top: 9%;
}

/* reglage du corps du site ( contenus principaux ) */
body {
    margin-top: 12vh;
    height: 100vh;
}

body a {
    text-decoration: none;
}

/* reglage du titre principal */
.title-main-home {
    font-size: 2.4em;
    padding: 3%;
    /* clip-path donne une forme  */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}

/* reglage du titre secondaire */
.title-second-home,
.title-aside {
    font-size: 1.4em;
    margin-bottom: 2%;
}

.title-main-home,
.content-split {
    justify-content: center;
    position: relative;
    z-index: 0;
}

header,
footer,
.title-main-home,
.content-split,
.news-container {
    align-items: center;
}

.latest-news {
    width: 70vw;
    padding: 4%;
}

/* descente du logo présent à droite du langage appris */
.latest-news img {
    margin-bottom: -2vh;
}

/* definition d'une position fixe et d'une taille de photo de profil */
#profile-picture {
    margin: 1.4% auto;
    width: 18%;
    height: auto;
    border-radius: 50%;
}

#dwnld-btn {
    margin-top: 4vh;
}

/* separateur annoncant une thématique */
.content-split {
    height: 20vh;
    font-size: 1.8em;
    /* clip-path donne une forme  */
    clip-path: polygon(0 22%, 100% 0, 100% 100%, 0 78%);
}

#school-split {
    height: 90vh;
    width: .1vw;
    background-color: var(--bg-beige-deep);
    border: none;
}

.present-article {
    justify-content: center;
}

.school-article {
    height: auto;
    width: 100vw;
}

.content-present-article {
    padding: 2%;
}

.content-article {
    padding: 4%;
    width: 50%;
}

.present-article,
.content-article {
    text-align: justify;
}

/* definition de la taille d'une image sur la page d'accueil */
.size-img-home-article {
    margin: 5vh auto;
    width: 29em;
    height: auto;
    border-radius: 2em;
    justify-content: center;
}


/* reglage du pied de page */
footer {
    height: 44vh;
}

#logo-footer {
    margin-top: 20%;
}

#content-footer {
    width: 50vw;
    justify-content: space-between;
    line-height: 5vh;
    margin-bottom: 1%;
}

.line-height-footer-left {
    margin-bottom: 10%;
}

.line-height-footer-right {
    margin-bottom: 6%;
}

/* creation du bandeau de cookie avec CSS & JS */
#cookie-law {
    height: 16vh;
    position: fixed;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    left: 0;
    transition: .2s;
    justify-content: space-between;
    padding: 2%;
    border-top: 1px solid var(--bg-beige-deep);
}

#cookie-law p {
    justify-content: center;
    padding: 3%;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
}

/* responsive tablette ou mi ecran */

@media screen and (max-width:900px) {

    header {
        flex-direction: row-reverse;
    }

    .click-btn {
        display: none;
    }

    /* creation du bouton burger qui permettra d'acceder à un btn burger */
    .click-btn-burger {
        display: block;
    }

    .click-btn-burger>span {
        display: block;
        width: 28px;
        height: 2px;
        border-radius: 9999px;
        background-color: var(--bg-black);
    }

    .click-btn-burger>span:not(:last-child) {
        margin-bottom: 7px;
    }

    .click-btn-burger,
    .click-btn-burger>span {
        transition: all .4s ease-in-out;
    }

    .click-btn-burger.active {
        transition-delay: .8s;
        transform: rotate(45deg);
        position: absolute;
        z-index: 100;
        margin: 15% 12% auto;
    }

    /* couleur du bouton burger / croix lorsque le menu est ouvert  */
    .click-btn-burger.active>span {
        background-color: var(--bg-black);
        width: 60px;
        height: 3.6px;
    }

    .click-btn-burger.active>span:nth-child(2) {
        width: 0;
    }

    .click-btn-burger.active>span:nth-child(1),
    .click-btn-burger.active>span:nth-child(3) {
        transition-delay: .4s;
    }

    .click-btn-burger.active>span:nth-child(1) {
        transform: translateY(9px);
    }

    .click-btn-burger.active>span:nth-child(3) {
        transform: translateY(-9px) rotate(90deg);
    }

    /* creation du menu burger */
    .menu-burger-nav {
        display: inline-block;
        background: linear-gradient(var(--bg-black), var(--bg-beige));
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        width: 40%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 20;
        overflow: hidden;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        height: 100vh;
        flex-direction: row;
    }

    .menu-burger-nav a {
        color: var(--white-text);
    }

    .menu-burger-nav.open {
        transform: translateX(-5%);
    }

    /* personnalisation des liens présents dans le menu burger */
    .menu-burger-ul {
        display: flex;
        flex-direction: column;
        line-height: 8vh;
        height: 100%;
        justify-content: space-between;
        font-size: 1.1em;
    }

    .menu-burger-ul div {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        margin: 30% 0;
    }

    /* nom du site dans le menu burger */
    #title-burger {
        margin: auto;
        font-size: 1em;
        color: var(--bg-beige);
    }
}


/* creation de la responsive mobile (500px)  */

@media screen and (max-width: 500px) {

    /* creation du menu burger */
    .menu-burger-nav {
        width: 60%;
    }

    /* reglage du titre principal */
    .title-main-home {
        font-size: 2.2em;
        padding: 6%;
        text-align: center;
    }

    #title-second-home-mobile {
        margin: 6% auto;
    }

    .latest-news {
        padding: 0%;
        width: 90vw;
    }

    /* definition d'une position fixe et d'une taille de photo de profil */
    #profile-picture {
        width: 14em;
        margin: 6% auto;
    }

    #dwnld-btn {
        text-align: center;
    }

    /* separateur annoncant une thématique */
    .content-split {
        font-size: 1.4em;
        text-align: center;
    }

    .news-container {
        flex-direction: column;
    }

    .content-article,
    .content-present-article {
        padding: 4%;
    }

    .content-article {
        width: 100%;
    }

    .size-img-home-article {
        width: 100%;
        margin: 3vh auto;
    }

    /* reglage du pied de page */
    footer {
        height: 40vh;
        font-size: 1em;
    }

    #content-footer {
        width: 80vw;
    }

}

/* creation de la responsive inferieur a un ecran de mac (px)  */

@media screen and (max-width: 1362px) {

    .school-article {
        display: flex;
        flex-direction: column;
    }

    .content-split {
        text-align: center;
        height: 20vh;
        padding: 4%;
    }

    .content-article {
        width: 100%;
    }

    #school-split {
        height: 0.1vh;
        width: 80vw;
        margin: auto;
    }

}

/* creation de la responsive ordinateur à partir de 1500px  */


@media screen and (min-width: 1500px) {

    .click-btn {
        width: 20vw;
        font-size: 1.4em;
    }

    /* reglage du titre principal */
    .title-main-home {
        font-size: 3em;
    }

    .title-second-home,
    .content-split {
        font-size: 2em;
    }

    /* definition d'une position fixe et d'une taille de photo de profil */
    #profile-picture {
        width: 20em;
    }

    .news-container p,
    .content-present-article p,
    .school-article p,
    .design-ext-link,
    /* lien avec contact.css */
    .title-aside {
        font-size: 1.2em;
    }

    /* descente du logo présent à droite du langage appris */
    .latest-news img {
        margin-bottom: -1.6vh;
    }

    .size-img-home-article {
        width: 100%;
    }

    /* reglage du pied de page */
    footer {
        height: 40vh;
        font-size: 1.2em;
    }
}