form,
label,
aside,
aside div {
    flex-direction: column;
}

form,
aside,
#btn-form {
    border-radius: 2em;
}

form,
aside {
    margin: 2% 4% 2% 3%;
    background: linear-gradient(to left, var(--bg-beige-deep), var(--bg-beige));
}

input,
textarea {
    border-radius: 1em;
    padding: .6vh;
    border: none;
    outline: none;
    margin: 1% 0;
}

label,
input::placeholder,
textarea::placeholder {
    font-size: 1.2em;
}


.formulaire {
    justify-content: space-around;
}

form {
    justify-content: space-between;
    padding: 3vh;
    width: 50vw;
}

input {
    width: 30vw;
    border-radius: .8em;
}

label,
#btn-form {
    font-weight: 700;
}

.numero-tel {
    font-size: 1.4em;
}

#btn-form {
    position: relative;
    background-color: var(--bg-black);
    border: none;
    padding: 4px;
    width: 80px;
    cursor: pointer;
    margin: 3% auto 1%;
    font-size: 1em;
    color: white;
    user-select: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

#btn-form:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
}

#btn-form:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

#btn-form:active:after {
    box-shadow: 0 0 0 0 white;
    /* position: absolute;
    left: 0;
    top: 0; */
    opacity: 1;
    transition: 0s;
}

#btn-form:active {
    top: 2px;
}

aside {
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    width: 14vw;
    min-width: 14vw;
}

.title-aside {
    text-decoration: underline;
    text-underline-offset: .6em;
    font-size: 1.2em;
}

/* creation de la responsive mobile (500px)  */

@media screen and (max-width: 500px) {

    header {
        flex-direction: row-reverse;
    }

    .click-menu {
        display: none;
    }

    .click-menu-burger {
        display: block;
    }

    .formulaire {
        flex-direction: column-reverse;
        align-items: center;
    }

    aside {
        padding: 4%;
        margin: 12% auto;
        width: 50%;
        height: 40vh;
    }

    form {
        width: 80%;
        margin: 0 auto 12%;
    }

    input {
        width: 100%;
    }

    /* reglage du titre principal */
    .title-main-home {
        font-size: 2.2em;
        padding: 6%;
    }

    #btn-form {
        margin: 4% auto 0%;
    }

    /* reglage du pied de page */
    footer {
        height: 40vh;
        font-size: 1em;
    }

    #content-footer {
        width: 80vw;
    }
}

/* creation de la responsive inferieur a un ecran de mac (px)  */

@media screen and (max-width: 1362px) {
    aside {
        width: fit-content;
    }

    .title-aside {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1920px) {

    .click-menu {
        width: 20vw;
        font-size: 1.4em;
    }

    /* reglage du titre principal */
    .title-main-home {
        font-size: 3em;
    }

    aside {
        padding: 2%;
        width: 14vw;
    }
}