.formulaire {
    display: flex;
    justify-content: space-around;
}

form {
    justify-content: space-between;
    padding: 28px;
    width: 50vw;
}

form,
label {
    display: flex;
    flex-direction: column;
}

form,
aside {
    margin: 2% 4% 2% 3%;
    border-radius: 12px;
    background: linear-gradient(to left, var(--bg-beige-deep), var(--bg-beige));
}

input:nth-child(4),
input:nth-child(2) {
    border: 1px solid blue;
    width: 14vw;
}

input {
    width: 30vw;
    border: 1px solid red;
}

input,
textarea {
    border-radius: 6px;
    padding: 2px;
}
.numero-tel{
    font-size: 1.2em;
}

#btn-form {
    margin-top: 2%;
    border: none;
    border-radius: 12px;
    padding: 4px;
    width: 80px;
    cursor: pointer;
}

aside {
    padding: 3%;
    flex-direction: column;
    justify-content: space-between;
    width: 17vw;
}