figcaption {
    padding: .6em 1.2em;
}

.container-joke p,
button {
    margin-top: 1em;
}

.cart-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 28%);
    background-color: var(--bg-beige);
    max-width: 100vw;
    width: 100%;
    margin-bottom: 6%;
    padding: 6em 2em;
    justify-content: center;
    gap: 8vh;
    /* clip-path donne une forme  */
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 94%);
}

.cart {
    display: grid;
    grid-template-rows: 11.5em repeat(3, auto);
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    height: 22.2em;
    background-color: var(--bg-white);
    border-radius: 2em;
}

.cart:nth-child(3).active {
    height: fit-content;
}

.cart img {
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    width: 100%;
    height: 100%;
}

figcaption {
    text-align: justify;
}

strong {
    font-weight: 300;
}

em {
    font-style: normal;
}

/* extrait projet dad jokes */
.btn-extract {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-beige);
    width: 12em;
    height: 2em;
    color: var(--white-text);
    margin: 3% auto;
}

.display-extract {
    display: none;
}

.display-extract.open {
    display: block;
    position: relative;
    /* height: 36%; */
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-joke {
    display: flex;
    width: 80%;
    background-color: yellowgreen;
    border-radius: 1em;
    margin: 6% auto;
    padding: 2rem;
    align-items: center;
}

.container-joke p {
    font-size: 1.2rem;
    line-height: 3.5rem;
    text-align: justify;
    line-height: 5vh;
}

button {
    font-size: 1.2rem;
    background-color: var(--btn-black);
    color: lightgrey;
    cursor: pointer;
    padding: 1rem;
    width: fit-content;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(17, 17, 17, 0.74);
    align-self: center;
}

button {
    transform: scale(0.95);
}

/* responsive tablette ou mi ecran */

@media screen and (max-width:900px) {
    .cart-container {
        grid-template-columns: repeat(auto-fill, 42%);
        gap: 10vh;
    }
}

/* creation de la responsive mobile (500px)  */

@media screen and (max-width: 500px) {
    .cart-container {
        grid-template-columns: repeat(auto-fill, 80%);
        padding: 7em auto;
        gap: 8vh;
    }
}