.legal-case {
    width: 60vw;
    background-color: var(--bg-beige);
    margin: 4% auto;
    border-radius: 2em;
    flex-direction: column;
    padding: 3%;
    text-align: justify;
}

.legal-case h2 {
    margin-top: 2vh;
}

.legal-case a {
    color: var(--white-text);
}

/* creation de la responsive mobile (500px)  */

@media screen and (max-width: 500px) {
    .legal-case {
        width: 80vw;
        padding: 5%;
    }
}